* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --darkviolet: hsl(282, 100%, 18%);
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  transform: scaleX(-1);
  max-height: 9vmin;
}

.App-header {
  padding: 1vmin;
  background-color: var(--darkviolet);
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.App-header-login-btn {
  border: 1px solid #fdfdfd;
  background-color: cadetblue;
  padding: 1vmin;
  border-radius: .6vmin;
  font-weight: bold;
  color: white;
  font-size: medium;
}
.App-header-logged{
  display: flex;
  justify-content: space-between;
}
.App-user-avatar {
    height: 6vmin;
    width: 6vmin;
    border-radius: 3vmin;
    /* animation: App-logo-spin infinite 20s linear; */
}
.App-header-user-name {
  padding: 0;
  margin: 0;
  font-size: smaller;
}
.App-main {
  padding: 1vmin;
  min-height: 88vh;
  color: #010a0b;
  background-color: cadetblue;
}

.App-article{
  padding: 1vmin;
  margin: 2vmin auto;
  background-color: whitesmoke;
  width: 80vw;
  max-width: 760px;
}

.App-articleHeader {
  display: flex;
  justify-content: space-between;
  font-size: small;
  padding: 2vmin 1vmin;
  border-bottom: .2vmin solid lightgrey;
  margin-bottom: 1vmin;
}

.App-articleHeader > img {
  width: 100%;
  height: 4vmin;
  width: 4vmin;
  border-radius: 2vmin;
  border: .24vmin solid black;
  box-shadow: 0 0 2vmin black;
}

.App-article-content {
  /* display: flex; */
  /* justify-content: space-between; */
}

.App-article-imageContainer > img {
  width: 100%;
}
.App-article-dataContainer {
  text-align: left;
  padding: 1vmin;
}
.App-article-tematicalTag {
  display: flex;
  justify-content: space-between;
}
/************/
.App-footer {
  background-color: var(--darkviolet);
  padding: 1vmin;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
}
.icon_credits {
  display: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
