.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  max-height: 6vmin;
}

.App-header {
  padding: 1vmin;
  background-color: #282c34;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.App-main {
  padding: 1vmin;
  height: 88vh;
  color: #010a0b;
  background-color: cadetblue;
}
.App-footer {
  background-color: #282c34;
  max-height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
